$color-primary: #3046C5;
$color-secondary: #5637DD;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106B;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-teal: #1782B8;

$body-font: 'Open Sans', sans-serif;
$header-font: 'Lobster', cursive;

body {
  font-family: $body-font;
}

footer {
  background-image: linear-gradient($color-pale, white);
  padding: 20px 0;
}

h1, h2, h3 {
  font-family: $header-font;
}

h2 {
  color: $color-primary;
}

header {
  padding: 30px;
  background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-dark);
  color: white;
}

header {
    h2 {
  color: $color-pale;
  }
}

.accordion-button {
  background-color: #d3d3d3;
}

.carousel {
  border: solid $color-secondary;
}

.carousel-caption {
  background-color: $color-black-transparent;
}

.navbar {
  background-color: $color-mid;
}

.navbar-toggler {
  margin-left: auto;
}

.row-content {
  padding: 50px 9;
  border-bottom: 1px ridge;
  min-height: 200px;
}

@import 'modal';